* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgba(12, 12, 12, 0.623);
    background-image: url(./img/project1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    transition: all 2s;
}
#body2 {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    padding: 4px;
}
.header {
    font-size: 1.2rem;
    border:1px solid rgba(255, 253, 253, 0.575);
    width: 80%;
    margin: 8px auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
    padding: 8px;
}
.main-content {
    width: 100;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
    border-radius: 0px 8px;
    box-shadow: 0 0 10px 1px ;
}
.main-content .text-area {
    font-size: x-large;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    padding: 4px;
}
.main-content .person {
    font-size: xx-large;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 8px;
}
.button-area button {
    padding: 8px;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 4px;
}
.button-area button:active {
    background-color: rgba(255, 255, 255, 0.575);
}